/***** BASE STYLES *****/
@font-face {
  font-family: Avenir;
  src: url('../fonts/AvenirNextLTPro-Regular_0.otf') format('opentype');
}
@font-face {
  font-family: Avenir Italic;
  src: url('../fonts/AvenirNextLTPro-It_0.otf') format('opentype');
}
@font-face {
  font-family: Avenir Demi;
  src: url('../fonts/AvenirNextLTPro-Demi_0.otf') format('opentype');
}
@font-face {
  font-family: Avenir Bold;
  src: url('../fonts/AvenirNextLTPro-Bold_0.otf') format('opentype');
}
body {
  font-family: Avenir;
  color: #696969;
}
main {
  margin: auto;
}
/*****  HEADER *****/
header {
  display: block;
	top: 0;
  padding: 50px 50px;
  width: 100px;
	height: 100%;
  background-color: white;
	position: fixed;
  z-index: 2;
}
#home-link {
  position: absolute;
  top: 50px;
  left: 50px;
  margin: 0px;
  width: 100px;
  height: 100px;
}
ul {
  margin-top: 50px;
}
ul li {
  font-family: Avenir Italic;
  line-height: 30px;
}
ul li a {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease;
}
ul li a:hover {
  opacity: .5;
}
ul li a img {
  padding-right: 10px;
}
/***** main *****/
h3 {
  max-width: 1300px;
  margin: 50px 0;
  font-size: 26px;
  line-height: 30px;
  font-family: Avenir;
}
h3 a {
  color: inherit;
}
article {
  position: relative;
  left: 200px;
  width: 1600px;
	top: 0;
  height: 100%;
  overflow: hidden;
}
article img {
  max-width: 1300px;
}
strong {
  font-family: Avenir Demi;
}
.top-section {
  position: fixed;
  display: block;
  box-sizing: border-box;
  top: 0;
  width: 100%;
  height: 180px;
  z-index: 3;
  background-color: white;
}
.top-section-padding {
  position: relative;
  height: 230px;
  width: 100%;
  display: block;
  float: left;
}
.top {
  position: fixed;
  bottom: 100px;
  right: 100px;
  color: #696969;
  text-decoration: none;
  background-color: white;
  font-size: 28px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  font-family: Avenir Demi;
  transition: all 0.2s ease;
  z-index: 2;
}
.top:hover {
  color: white;
  background-color: #696969;
  opacity: 1;
}
h2 {
  max-width: 800px;
  margin: 50px 0;
  font-size: 28px;
  line-height: 28px;
  font-family: Avenir Demi;
}
h2 span {
  font-family: Avenir Italic;
  font-size: 16px;
}
h2 a {
  color: inherit;
}
.picbutton {
  display: inline-block;
  position: relative;
  margin: 0 20px 20px 0;
}
.picbutton a {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  width: 300px;
  height: 300px;
  text-align: left;
  transition: all 0.4s ease;
}
.picbutton a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
article p {
  max-width: 800px;
  line-height: 22px;
  margin: 0 50px 50px 0;
  clear: both;
}
p a {
  text-decoration: underline;
  color: #696969;
  transition: all 0.2s ease;
}
p a:hover, .page-links a:hover {
  opacity: .5;
}
article img {
  position: relative;
  float: left;
}
button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  color: inherit;
  transition: all 0.2s ease;
}
a:hover, button:hover {
  opacity: .5;
  cursor: pointer;
}
#about {
  display: block;
  border-color: transparent;
  height: 25px;
}
#about:hover {
  cursor: default;
}
#aboutMe {
  min-height: 1000px;
}
#aboutMe-desc {
  clear: none;
}
form {
  width: 50%;
  clear: both;
}
label{
  width:4in;
  display: block;
  line-height: 25px;
}
input[type="text"] {
  width:75%;
  padding:15px 0;
  margin: 10px auto;
  border:none; /*remove default*/
  border-radius:3px;
  background-color: lightgrey;
  color: black;
  font-size:14px;
}
textarea {
  width:75%;
  height: 1.5in;
  padding:15px 0;
  margin: 10px auto;
  border:none; /*remove default*/
  border-radius:3px;
  background-color: lightgrey;
  color: black;
  font-size:14px;
}
input[type=text]:focus, textarea:focus {
  border: 2px cornflowerblue solid;
  background-color: white;
  color:black;
}
input[type="submit"], input[type="reset"] {
  position:relative;
  width: 1in;
  top:14px;
  padding:12px;
  border:none; /*remove default*/
  border-radius:3px;
  background-color: #696969;
  color:#ffffff;
  font-weight:bold;
  font-size:18px;
  transition: all 0.2s ease;
}
input[type="submit"]:hover {
  cursor: pointer;
  opacity: .5;
}
aside{
  position:absolute;
  top:100px;
  right:32%;
  width: 35%;
  height: 200px;
  background-color: rgba(30, 30, 30, 1);
  border-radius: 3px;
  color: white;
  display:none;
  font-size: 20px;
}
#myMsg {
  position:relative;
  top:40%;
  text-align:center;
}
aside #close{
  position:absolute;
  top:10px;
  right:10px;
}
footer {
  position: relative;
  bottom: 0;
  left: 0;
  height: 200px;
  width: 100%;
}
/***** VAREP *****/
#VAREPMaterials {
  width: 1300px;
}
#VAREPMaterials img {
  width: 500px;
  margin: 20px 0;
}
#VAREPMaterials img:nth-of-type(1){
  width: 900px;
}
#PolicyConference2018 img {
  width: 1100px;
}
#PolicyConference2018 img:nth-of-type(2), #PolicyConference2018 img:nth-of-type(3) {
  width: 550px;
}
#stopDropPush img {
  width: 1100px;
  margin: 20px 0;
}
/****** DLC ******/
.logoImg {
  width: 300px;
  margin: 0 25px 25px 0;
  position: relative;
  float: left;
}
.logoImg:first-of-type {
  clear: both;
}
/****** MAIZME ******/
.maizme-img {
  margin: 50px 0;
}
/****** FLOW ******/
iframe {
  margin: 20px 0;
}
/****** LANG APP ******/
#langApp img {
  margin: 0 20px 100px 0; /*style for the language app page*/
}
/***** LBC  *****/

/****** PHOTO ******/
.glide__slide img {
  display: block;
  width: 1300px;
  height: 867px;
  margin: auto;
}
/****** DCC ******/
.desc {
  width: 350px;
  padding-left: 100px;
  margin: 100px 0;
  float: left;
}
#team-list li {
  font-size: 16px;
}
#team-list a {
  text-decoration: underline;
}
#team-list strong {
  font-size: 20px;
}
#dcc-main {
  width: 1100px;
}
#dcc-main img {
  max-width: 1100px;
  max-height: 733.333px;
  margin: auto;
}
#dcc-main p {
  margin: 10px 0;
  max-width: 1100px;
}
#dcc-main button {
  padding-right: 10px;
}
#graphics, #web, #directors, #event-exp, #finances, #exhibits, #outreach, #workshop, #photographer {
  display: none;
}
#team {
  display: block;
}
